.well{background-color:white;}

.member_icon1{background:url('../image/member.png') -0px -37px;}
.member_icon2{background:url('../image/member.png') -0px -18px;}
.login_title{font-size:20px;margin-bottom:10px;}
.login_out #phone ,.login_out #password{border:0px;width:310px;float:right;height:40px; }
input {outline:none;}
.login_out {border:1px solid #eee;height:42px;position:relative;margin-bottom:14px;}
.member_icon1,.member_icon2 {width:18px;height:18px;position:absolute;margin-right:0px;top:12px;left:10px;}

.fl{float:left;}
.fr{float:right;}
.well>.btn-primary{width:100%;height:42px;}
.login_bottom{border-top:1px solid #eee; height:auto;margin:0px -20px -20px -20px;background-color:#f2f2f2;}
.login_bottom h1{font-size:18px;margin-bottom:3px;}
/* 以上为登陆界面*/


/*注册界面*/
.member_icon3{background:url('../image/member.png'); top:12px;left:10px;}
.member_icon4{background:url('../image/member.png') -0px -92px;top:12px;left:10px;}
.member_icon5{background:url('../image/member.png') -0px -18px;top:12px;left:10px;}
.member_icon6{background:url('../image/member.png') -0px -72px;top:12px;left:10px;}

/* 注册界面 */
.reg_main{
    border:1px solid #eee;
    border-top:3px solid red;
    width: 920 px;
}
.reg_form{
    width:580px;
    float:left;
    padding:20px 0;
}
.reg_form span {
    width:90px;
    display:inline-block;
    text-align:right;
}

.reg_out{
    border:1px solid #eee;
    display:inline-block;
    position:relative;
    height:42px;
    padding-left:34px;
    margin-bottom:14px;
}
.member_icon3,.member_icon4,.member_icon5,.member_icon6{
    width:18px;
    height:18px;
    position:absolute;
    margin-right:0px;

}
.reg_form #username,.reg_form #phone,.reg_form #password,.reg_form #password2    {
    border:0px;
    width:300px;
    height:40px;
}
.reg_login h1{font-size:14px;}
.reg_form .btn {
    background:#EC2000;
    color:white;
    height:42px;
    font-size:14px;
}